src/main/resources/xsd/joblist.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	jxb:version="2.1">
	<xs:element name="joblist">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="job" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="context">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="options">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="option" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType mixed="true">
															<xs:sequence>
																<xs:element type="xs:string" name="description" minOccurs="0" />
															</xs:sequence>
															<xs:attribute type="xs:string" name="enforcedvalues" use="optional" />
															<xs:attribute type="xs:string" name="name" use="optional" />
															<xs:attribute type="xs:string" name="required" use="optional" />
															<xs:attribute type="xs:string" name="value" use="optional" />
															<xs:attribute type="xs:string" name="values" use="optional" />
															<xs:attribute type="xs:anyURI" name="valuesUrl" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="preserveOrder" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="description" />
							<xs:element type="xs:string" name="executionEnabled" />
							<xs:element type="xs:string" name="group" />
							<xs:element type="xs:string" name="id" />
							<xs:element type="xs:string" name="loglevel" />
							<xs:element type="xs:string" name="multipleExecutions" minOccurs="0" />
							<xs:element type="xs:string" name="name" />
							<xs:element type="xs:string" name="nodeFilterEditable" />
							<xs:element name="notification" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="onfailure">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="plugin">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="configuration">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute type="xs:string" name="key" use="optional" />
																							<xs:attribute type="xs:string" name="value" use="optional">
																								<xs:annotation>
																									<xs:appinfo>
																										<jxb:property name="valueAttribute" />
																									</xs:appinfo>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:string" name="type" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="onstart" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="plugin">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="configuration">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute type="xs:string" name="key" use="optional" />
																							<xs:attribute type="xs:string" name="value" use="optional">
																								<xs:annotation>
																									<xs:appinfo>
																										<jxb:property name="valueAttribute" />
																									</xs:appinfo>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:string" name="type" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="onsuccess">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="plugin">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="configuration">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute type="xs:string" name="key" use="optional" />
																							<xs:attribute type="xs:string" name="value" use="optional">
																								<xs:annotation>
																									<xs:appinfo>
																										<jxb:property name="valueAttribute" />
																									</xs:appinfo>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:string" name="type" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="schedule" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="dayofmonth" minOccurs="0" />
										<xs:element name="month">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="month" use="optional" />
														<xs:attribute type="xs:string" name="day" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="time">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="hour" use="optional" />
														<xs:attribute type="xs:string" name="minute" use="optional" />
														<xs:attribute type="xs:string" name="seconds" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="weekday" minOccurs="0">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="day" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="year">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="year" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="scheduleEnabled" />
							<xs:element name="sequence">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="command">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="jobref" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="arg">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute type="xs:string" name="line" use="optional" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:string" name="group" use="optional" />
															<xs:attribute type="xs:string" name="name" use="optional" />
															<xs:attribute type="xs:string" name="nodeStep" use="optional" />
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="script" minOccurs="0" />
													<xs:element type="xs:string" name="scriptargs" minOccurs="0" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:string" name="keepgoing" use="optional" />
									<xs:attribute type="xs:string" name="strategy" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="timeout" minOccurs="0" />
							<xs:element type="xs:string" name="uuid" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>