src/main/resources/xsd/result.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="succeeded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="job" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="id" />
										<xs:element type="xs:string" name="name" />
										<xs:element type="xs:string" name="group" />
										<xs:element type="xs:string" name="project" />
										<xs:element type="xs:string" name="permalink" />
									</xs:sequence>
									<xs:attribute type="xs:byte" name="index" use="optional" />
									<xs:attribute type="xs:string" name="href" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:byte" name="count" />
					</xs:complexType>
				</xs:element>
				<xs:element name="failed">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="job" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="id" />
										<xs:element type="xs:string" name="name" />
										<xs:element type="xs:string" name="group" />
										<xs:element type="xs:string" name="project" />
										<xs:element type="xs:string" name="permalink" />
										<xs:element type="xs:string" name="error" />
									</xs:sequence>
									<xs:attribute type="xs:byte" name="index" use="optional" />
									<xs:attribute type="xs:string" name="href" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:byte" name="count" />
					</xs:complexType>
				</xs:element>
				<xs:element name="skipped">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="job" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="id" />
										<xs:element type="xs:string" name="name" />
										<xs:element type="xs:string" name="group" />
										<xs:element type="xs:string" name="project" />
										<xs:element type="xs:string" name="permalink" />
									</xs:sequence>
									<xs:attribute type="xs:byte" name="index" use="optional" />
									<xs:attribute type="xs:string" name="href" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:byte" name="count" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:string" name="success" />
			<xs:attribute type="xs:byte" name="apiversion" />
		</xs:complexType>
	</xs:element>
</xs:schema>